<h2>Trails You Want to Hike:</h2>
<br>
<table cellpadding=3>
  <thead>
    <tr>
      <th>Trail Name</th>
      <th>Status</th>
      <th>Update!</th>
    </tr>
  </thead>
  <tbody>
    <% @aspirations.each do |a| %>
      <tr>
        <th><%= a.trail.name %></th>
        <th><%= a.completed_status %></th>
        <th>
          <!-- <form action= "<%= hiker_aspiration_path(current_user.id, a.id) %>" method="post">
            <input name="_method" type="hidden" value="put" />
            <input type="submit" value="Update Status">
          </form> -->
          <%= form_tag(hiker_aspiration_path(current_user.id, a.id), :method => "put") do %>
            <%= submit_tag "Update Status" %>
          <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>Where else would you like to go?</p>
<p>Add an aspiration <a href="<%= new_hiker_aspiration_path(current_user.id) %>">here</a></p>
