<% if @aspiration.errors.any? %>
  <ul>
    <% @aspiration.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <br>
<% end %>

<h2>Where would you like to go, <%= current_user.username %>?</h2>

<!-- Question: How can I define the path as hiker_aspirations_path instead of aspirations_path, which doesn't exist? -->
<%= form_for(@aspiration, :url => url_for(:controller => 'aspirations', :action => 'create')) do |f| %>
  <%= f.hidden_field :hiker_id, :value=> current_user.id %>
  <%= f.label :trail_id, "Choose an existing trail:" %>
  <%= f.collection_select(:trail_id, Trail.all, :id, :name, prompt: true) %> <br><br>

  <%= f.label :trail_attributes, "Or, create a new trail:" %> <br>
  <%= f.fields_for :trail_attributes, current_user.trails.build do |trails_fields| %>
    <%= trails_fields.label :name %>
    <%= trails_fields.text_field :name %> <br>
    <%= trails_fields.label :location %>
    <%= trails_fields.text_field :location %> <br>
  <% end %>
  <%= f.submit "I want to go!" %>
<% end %>
