<!DOCTYPE html>
<html>
  <head>
    <title>TrekTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>

    <% if logged_in? %>

      <p>Logged In As: <%= current_user.username if current_user %></p>

      <p>Click <a href="/logout">Here</a> to Log Out</p>

    <% else %>

      <p>You Are Not Logged In.</p>

    <% end %>



  </footer>
</html>
