<!DOCTYPE html>
<html>
  <head>
    <title>TrekTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
    <% if logged_in? %>

      <p><%= link_to "Profile", hiker_path(current_user) %> | <%= link_to "Log Out", logout_path %></p>

    <% end %>

      <p><%= link_to "Trek Tracker", root_path %> | 2018</p>

  </footer>
</html>
